html {
  /* 标准字体大小设置 14 像素 */
  font-size: $uni-font-size-base;
  height: 100%;
}

html, body {
  /*禁用横向滚动*/
  overflow-x: hidden;
  width: 100%;
  /*取消部分浏览器点击有阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*优化移动端滚动事件*/
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  /*设置网页基本字体颜色*/
  color: $uni-text-color;
}

@for $n from 1 through 10 {
	.fx-#{$n} {
		flex: #{$n};
	}
}

// 生成从2-220，步进为1的间距样式
@for $i from 2 through 220 {
  .m-#{$i} {
    margin: #{$i}rpx;
  }
  .m-h-#{$i} {
    margin-left: #{$i}rpx;
    margin-right: #{$i}rpx;
  }
  .m-v-#{$i} {
    margin-top: #{$i}rpx;
    margin-bottom: #{$i}rpx;
  }
  .m-t-#{$i} {
    margin-top: #{$i}rpx;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}rpx;
  }
  .m-l-#{$i} {
    margin-left: #{$i}rpx;
  }
  .m-r-#{$i} {
    margin-right: #{$i}rpx;
  }
  .p-#{$i} {
    padding: #{$i}rpx;
  }
  .p-h-#{$i} {
    padding-left: #{$i}rpx;
    padding-right: #{$i}rpx;
  }
  .p-v-#{$i} {
    padding-top: #{$i}rpx;
    padding-bottom: #{$i}rpx;
  }
  .p-t-#{$i} {
    padding-top: #{$i}rpx;
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}rpx;
  }
  .p-l-#{$i} {
    padding-left: #{$i}rpx;
  }
  .p-r-#{$i} {
    padding-right: #{$i}rpx;
  }
}

// 颜色
.c-base{
	color:#333;//基本色
}
.c-white{
	color:#fff;//反色
}
.c-tip{
	color:#999;//辅助灰色，如加载更多的提示信息
}
.c-disabled{
	color:#c0c0c0;
}
.c-placeholder{
	color: #808080;
}
.c-title{
	color: #2C405A; // 文章标题颜色
}
.c-subtitle{
	color: #555555; // 二级标题颜色
}
.c-paragraph{
	color: #3F536E; // 文章段落颜色
}

//文字大小
.f-base{
	font-size:28upx;
}
.f-small{
	font-size:24upx;
}
.f-large{
	font-size:32upx;
}
.f-title{
	font-size:40upx;
}
.f-paragraph{
	font-size:30upx;
}
.f-subtitle{
	font-size:36upx;
}
